.list{
    width: 70%;
    gap: 30px;
    text-align: center;
}
.itCard{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border:2px solid;
    padding: 20px;
}
.container{
    width: 100%;
    gap:60px
}