.subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 20px;
    width: 62%;
}
.title{
    text-align: center;
    font-size: 64px;
    font-weight: 200;
}
.align{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subText{
    text-align: center;
    font-size: 40px;
    font-weight: 200;

}
.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (width:1000px) {
    
}
.marginTop{
    margin-top: 100px;
}
.marginBottom{
    margin-bottom: 100px;
}