.button {
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 32px;
    font-weight: 300;
    font-family: var(--font-family);
    cursor: pointer;
}
.mainButton {
    color: var(--foregroundButton);
    background-color: var(--backgroundButton);
    border: 2px solid var(--foregroundButton);
}
.transparentButton {
    border: transparent;
    background-color: transparent;
    color: var(--foregroundButton);
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 200;
    cursor: pointer;
} 
.licencetButton {
    border: transparent;
    background-color: transparent;
    font-size: 1em;
    font-family: var(--font-family);
    cursor: pointer;
    color: #007BFF;
    text-decoration: none;
}
@media (max-width:720px) {
    .button {
        font-size: 26px;
    }
}
@media (max-width:530px) {
    .transparentButton {
        font-size: 18px;
    } 
    .button {
        font-size: 20px;
    }
}
