.servicesContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    width: 100%;
    align-items: center;
    padding: 0px 50px 50px 50px;
}
.title{
    font-size: 55px;
    font-weight: 200;
}
.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px; 
    width: 100%;

    list-style-type: none; 
}
.servicesItem{
    
    
    font-size: 32px;
    font-weight: 200;
}
.servicesItem:nth-child(even) {
    justify-self: end; 
}





