:root{
    --backgroundColor: #F9f9f9;
    --foregroundColor: #0D152D;
}
@media (prefers-color-scheme: dark) {
    :root {
        --backgroundColor: #0D152D;;
        --foregroundColor: #F9F9F9;
    }
}

.styledInput{
    background-color: var(--backgroundColor);
    border: 1px var(--foregroundColor) solid;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    min-width: 200px;
}
