.servicesContainer{
    gap: 50px;
    margin-top: 50px;
    width: 100%;
    padding: 0px 100px 50px 100px;
}
.title{
    font-size: 55px;
    font-weight: 200;
}
.services{
    width: 60%;
    list-style-type: none; 
}
.servicesItem{
    font-size: 22px;
}
.servicesItem:nth-child(even) {
    justify-self:end; 
}





