.container{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    justify-items: center;
    gap: 20px;
}
.imgContainer{
    display: flex;
    width: 50%;
}
.img{
    width: 80%;
    object-fit: cover;
    border-radius:20px;
    border: 2px black solid ;
    margin: auto;
}

@media ((max-width: 720px)) {
    .article{
        text-align: center;
    }
}