.list{
    list-style: decimal;
    padding-left: 20px;
    width: 70%;
    display: flex;
    gap: 30px;
    align-items: center;
    text-align: center;
}
.margin{
    margin-top: 100px;
    margin-bottom: 100px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap:60px
}